/* PLACE YOUR CUSTOM STYLES IN THIS FILE */

.content-wrap.block-content{
    padding-top: 80px;
}

.youplay-store.store-grid .isotope-list ul{
    list-style: none;
}

.angled-img .img > img {
    height: 180px;
    object-fit: cover;
    object-position: top;
}

.angled-img .bottom-info .row{
    display: flex;
    align-items: center;
}

.rating .badge{
    position: relative;
}