{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

    
<div class="container youplay-content">

    <div class="row">

        <div class="col-md-9">

                <h1>Editer une discussion</h1>

                <form action="{% url 'forum:update-subject' subject_id %}" method="post">
                    {% csrf_token %}
                    {{ form.author.as_hidden }}
                
                    {{ form.title.label_tag }}
                    <p>{{ form.title }}</p>
                    {{ form.title.errors }}
                
                    {{ form.subtitle.label_tag }}
                    <p>{{ form.subtitle }}</p>
                    {{ form.subtitle.errors }}
                
                    {{ form.content.label_tag }}
                    <p>{{ form.content }}</p>
                    {{ form.content.errors }}
                    <p>
                        <button type="submit">Enregistrer</button>
                    </p>
                </form>
          
        </div>

    </div>

</div>

{% endif %}

{% endblock %}