{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

    
<div class="container youplay-content">

    <div class="row">

        <div class="col-md-9">

  
                <ul class="youplay-forum mr-10">
                        <h1>Forums</h1>
                        <a href="{% url 'forum:new-subject' %}" class="btn btn-sm ml-0 mr-0">Nouvelle discussion</a>
                        <li class="header">
                            <ul>
                                <li class="cell-icon"></li>
                                <li class="cell-info">Titre</li>
                                <li class="cell-freshness">Date</li>
                                <li class="cell-freshness">Action</li>
                            </ul>
                        </li>
                        <li class="body">
                                {% if form.errors %}
                                  <ul>
                                    {% for key,value in form.errors.items %}
                                      <li>{{ key|escape }} : {{ value|escape }}</li>
                                    {% endfor %}
                                  </ul>
                                {% endif %}
                                <ul>
                                    {% if subjects %}
                                        {% for subject in subjects %}
                                        <ul>
                                                <li class="cell-icon">
                                                    <i class="far fa-folder-open"></i>
                                                </li>
                                                <li class="cell-info">
                                                    <a href="{% url 'forum:subject-detail' subject.id %}" class="title h4">{{ subject.title }}</a>
                                                    <div class="description">
                                                        <a href="">
                                                                Crée par {{ subject.author.username }}
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="cell-freshness">
                                                    <a href="#">{{ subject.pub_date }}</a>
                                                </li>
                                                <li class="cell-freshness">
                                                    <a href="{% url 'forum:subject-detail' subject.id %}" class="btn btn-default db">Voir le sujet</a>
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    {% else %}
                                    <div>
                                        <p class="alert alert-warning">Aucun sujet de discussion n'a été ouvert.</p>
                                    </div>
                                    {% endif %}
                                </ul>

                        </li>
                </ul>
        </div>

    </div>

</div>

{% endif %}

{% endblock %}