{% if user.is_authenticated %}
    <p>Welcome, <a href="{% url 'user:profile' %}">{{ user.username }}</a>. <a href="{% url 'user:logoutAction' %}">Logout</a></p>  
{% else %}
    <p>Welcome, new user. Please <a href="{% url 'user:login' %}">Login</a></p>
{% endif %}

{% if latest_cards %}
    <ul>
	    {% for card in latest_cards %}
	        <li><a href="{% url 'cards:detail' card.id %}">{{ card.name }}</a></li>
	    {% endfor %}
    </ul>
{% else %}
    <p>No cards are available.</p>
{% endif %}