{% extends 'base.html' %}

{% load static %}
{% static "" as baseUrl %}

{% block content %}

<section class="youplay-banner banner-top youplay-banner-parallax xsmall">
    
        <div class="image" data-speed="0.4">
            <img src="media/assets/images/wallpaper1.jpg" alt="" class="jarallax-img">
        </div>
    
    <div class="info">
        <div>
            <div class="container">
                
                    <h1 class="h1">Liste des cartes</h1>
                
            </div>
        </div>
    </div>
</section>


<div class="content-wrap no-banner">
    <div class="container youplay-store store-grid mt-0">
        
        <!-- Games List -->
        <div class="col-md-9 isotope">
            <!-- Sort Categories -->
            <ul class="pagination isotope-options">
                <li data-filter="all" class="active"><span>All</span></li>
                <li data-filter="free"><span>Free</span></li>
                <li data-filter="popular"><span>Popular</span></li>
                <li data-filter="specials"><span>Specials</span></li>
                <li data-filter="upcoming"><span>Upcoming</span></li>
            </ul>
            <!-- /Sort Categories -->
            
            <div class="isotope-list row vertical-gutter">
                
                {% if latest_cards %}
                <ul>
                    {% for card in latest_cards %}
                    <li>
                        <!-- Single Product Block -->
                        <div class="item col-lg-4 col-md-6 col-xs-12" data-filters="popular">
                            <a href="{% url 'cards:detail' card.id %}" class="angled-img">
                                <div class="img img-offset">
                                    <img src="{{static}}{{card.image.url}}" alt="">
                                </div>
                                <div class="bottom-info">
                                    <h4>{{ card.name }}</h4>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            
                                            <div class="rating">
                                                {% for type in card.type.all %}
                                                <span class="badge show" style="background-color: {{type.color}}">{{ type }}</span>
                                                {% endfor %}
                                            </div>
                                            
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="price">
                                                {{card.atk}}
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="price">
                                                    {{card.life}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- /Single Product Block -->
                        
                        
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No cards are available.</p>
                {% endif %}
                
            </div>
        </div>


         <!-- Right Side -->
         <div class="col-md-3">
            
            <!-- Side Search -->
            <div class="side-block">
                <p>Rechercher une carte :</p>
                <form action="search.html">
                    <div class="youplay-input">
                        <input type="text" name="search" placeholder="Rechercher une carte">
                    </div>
                </form>
            </div>
            <!-- /Side Search -->
            
                    </div>
                    <!-- /Right Side -->
    </div>
</div>

{% endblock %}





