{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <p>
        <label>Username : </label>
        {{ user.username }}
    </p>
    <p>
        <label>email : </label>
        {{ user.email }}
    </p>
    <a href="{% url 'user:profile_edit' %}">Edit profile</a>

    <p>
        Points : {{user.profile.points}}
    </p>
    <p>You follow:</p>
    <ul>
        {% for followed in user.following.all %}
            <li>{{ followed.follower.username }}
                <ul>
                    {% for action in followed.follower.actions.all %}
                        <li>{{ action.content }} : {{ action.pub_date }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}