{% extends 'base.html' %}

{% block content %}

<!--
    Banner

    Additional classes:
        .small
        .xsmall
        .big
        .full
-->
<section class="youplay-banner banner-top youplay-banner-parallax small">
    
    <div class="image" data-speed="0.4">
        <img src="{{ static }}/media/assets/images/wow1.jpg" alt="" class="jarallax-img">
    </div>


<div class="youplay-user-navigation">
    <div class="container">
        
    </div>
</div>

<div class="info">
    <div>
        <div class="container youplay-user">
            <div class="user-data">
                <h2>Enregistrer un nouveau compte</h2>
                <div class="location"><i class="fa fa-map-marker"></i><h4>Créer ton propre deck et défie les autres joueurs !</h3></div>
            </div>
<div class="row">

        <div class="col-md-6 col-md-3">

                <form method="POST" action="{% url 'user:registerAction' %}">
                        {% csrf_token %}
                        <p>
                            <label>Pseudo</label>
                            <div class="youplay-input">
                                <input type="text" name="username">
                            </div>
                        </p>
                        <p>
                                <label>Adresse mail</label>
                            <div class="youplay-input">
                                <input type="email" name="email">
                            </div>
                        </p>
                        <p>
                            <label>Mot de passe</label>
                            <div class="youplay-input">
                            <input type="password" name="password">
                            </div>
                        </p>
                        <button class="btn btn-default db" type="submit">S'enregistrer</button>
                    </form>

        </div>
</div>
        </div>

    </div>
</div>
</section>
<!-- /Banner -->
{% endblock %}