
{% extends 'base.html' %}

{% load static %}
{% static "" as baseUrl %}

{% block content %}

<div class="isotope-list row vertical-gutter packets">
        {% if error %}
        {{ error }}
    {% endif %}
        {% if cards %}
           <div class="col-lg-12 btn-group">
            <a href="{%  url 'packet:index'%}" class="btn">
                Ouvrir un autre pack
            </a>
           </div>
            {% for card in cards %}
            <div class="item col-lg-4 col-md-6 col-xs-12 reverse" data-filters="popular">
                <div class="front">
                    ?
                </div>
                   <div class="back">
                    <a href="{% url 'cards:detail' card.id %}" class="angled-img">
                        <div class="img img-offset">
                            <img src="{{static}}{{card.image.url}}" alt="">
                        </div>
                        <div class="bottom-info">
                            <h4>{{ card.name }}</h4>
                            <div class="row">
                                <div class="col-xs-6">
                                    
                                    <div class="rating">
                                        {% for type in card.type.all %}
                                        <span class="badge show" style="background-color: {{type.color}}">{{ type }}</span>
                                        {% endfor %}
                                    </div>
                                    
                                </div>
                                <div class="col-xs-3">
                                    <div class="price" data-toggle="tooltip" data-placement="top" title="Attack">
                                        {{card.atk}} <img src="{{static}}/media/assets/images/atk.png" alt="attack">
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="price" data-toggle="tooltip" data-placement="top" title="Life">
                                            {{card.life}} <img src="{{static}}/media/assets/images/life.png" alt="attack">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                   </div>
                </div>
            {% endfor %}
        {% endif %}
</div>

<script src="{{ static }}/media/assets/js/custom.js"></script>

{% endblock %}