<h1>Les battles de {{user.username}}</h1>

{% for challenge in challenging %}
                    <a class="youplay-single-match" href="#">
                            <div class="pull-left">
                                <div class="angled-img">
                                    <div class="img">
                                        <img src="assets/images/dark/clan-navi.jpg" alt="NAVI">
                                    </div>
                                </div>
                                <h5 class="text-center">{{ challenge.player1.username }}</h5>
                            </div>

                            <div class="pull-left ml-30">
                                <div class="angled-img">
                                    <div class="img">
                                        <img src="assets/images/dark/clan-ehome.jpg" alt="EHOME">
                                    </div>
                                </div>
                                <h5 class="text-center">{{ challenge.player2.username }}</h5>
                            </div>

                            <div class="pull-left ml-30">
                                    {% if challenge.status == 'pending' %}
                                    <h3 class="youplay-match-title">En attente</h3>
                                    <div class="date">Votre adversaire n'a pas encore répondu au duel</div>
                                    {% elif challenge.status == 'declined' %}
                                    <h3 class="youplay-match-title">Décliné</h3>
                                    <div class="date">Votre adversaire n'a pas souhaité vous affrontez</div>
                                    {% elif challenge.status == 'win' %}
                                    <h3 class="youplay-match-title">VICTOIRE</h3>
                                    <div class="date">Et une victoire de plus !</div>
                                    {% elif challenge.status == 'lose' %}
                                    <h3 class="youplay-match-title">DEFAITE</h3>
                                    <div class="date">Vous ferez mieux la prochaine fois !</div>
                                    {% endif %}
                            </div>

                            <div class="label youplay-match-count">{{challenge.status}}</div>

                            <div class="clearfix"></div>
                        </a>
                        {% endfor %}