{% extends 'base.html' %}

{% load static %}
{% static "" as baseUrl %}

{% block content %}

<div class="container youplay-content">

        <div class="row">
    
            <div class="col-md-6">
    
                    <h1>Social</h1>

                    <ul>
                        {% for user in all_user %}
                        <li>
                            {{user.username}} <a href="">Follow</a>
                        </li>
                        {% endfor %}
                    </ul>
              
            </div>
            <div class="col-md-6">
                    {% if my_follow %}
                    <h1>Mes follow</h1>
               <ul>
                    {% for follow in my_follow %}
                    <li>
                            {{follow.follow.username}}
                            <a href="">Voir ses cartes</a>
                            <a href="">Voir ses decks</a>
                            <a href="">Voir ses battles</a>
                        </li>
                    {% endfor %}
               </ul>
               {% endif %}
            </div>
        </div>
    
    </div>

{% endblock %}